.navbar {
  padding-right: 1rem;
  padding-bottom: 2rem;
  max-height: calc(100vh - 72px);
  overflow-y: scroll;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar ul li {
  font-size: 18px;
  border-left: 1px solid #c1c1c142;
  margin-left: 16px;
  padding: 4px 0;
}

.navbar ul a {
  border-left: 1px solid transparent;
  padding-left: 16px;
  margin-left: -1px;
  color: var(--soft-white);
}

.navbar ul a:hover,
.navbar ul a.active {
  border-color: var(--secondary);
  color: var(--secondary);
}
