.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error .title {
  font-size: 42px;
  letter-spacing: 2px;
}

.error a svg {
  vertical-align: -2px;
  margin-right: 2px;
}

.error a:hover {
  color: var(--secondary);
}
