.notes textarea {
  box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.08);
  background-color: var(--soft-dark);
  font-family: inherit;
  padding: 1rem;
  font-size: 16px;
  width: 100%;
  height: 30em;
  border: none;
  resize: none;
  cursor: auto;
}

.notes textarea::placeholder {
  font-style: italic;
  color: var(--soft-white);
}

.notes button {
  background-color: var(--secondary);
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.notes button:hover {
  background-color: var(--primary);
}
