@import './resources/layout.min.css';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--dark);

  --white: #ffffffde;
  --dark: #0e0e0e;
  --soft-dark: #1e1e1e;
  --primary: #01427e;
  --secondary: #0171da;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

a {
  text-decoration: none;
  color: #ffffffde;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-align: start;
}

.title {
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 0.4px;
}
