@import './resources/layout.min.css';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #0e0e0e;

  --primary: #01427e;
  --secondary: #0171da;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 100%;
}

a {
  text-decoration: none;
  color: #ffffffde;
}

.title {
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 0.4px;
}
