@import './resources/layout.min.css';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--dark);

  --white: #ffffffde;
  --soft-white: #c9c9c9;
  --dark: #0e0e0e;
  --soft-dark: #1e1e1e;
  --primary: #01427e;
  --secondary: #0171da;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #ffffffde;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--soft-dark);
}

::-webkit-scrollbar-thumb {
  background: #c1c1c142;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-align: start;
  cursor: pointer;
}

.title {
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 0.4px;
}
